$lighterpink: #ff5d59;
$lighterblack: #7d7d7d;
$lighterpinkmore: #fab8b7;
$white: #ffffff;
$black: #000000;
$gray: gray;
$background: rgba(0, 0, 0, 0.5);
$whitesmoke: whitesmoke;
$graylight: #dadada;
$boxcolor: rgb(250 184 183);
